tools/n8n/workflows/crunchy-triage.json
{
  "connections": {
    "Cluster status": {
      "main": [
        [
          {
            "index": 0,
            "node": "pgBackRest info",
            "type": "main"
          }
        ]
      ]
    },
    "Markdown to HTML": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook (HTML)",
            "type": "main"
          }
        ]
      ]
    },
    "Merge snippets": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validate cluster",
            "type": "main"
          }
        ]
      ]
    },
    "Merge validations": {
      "main": [
        [
          {
            "index": 0,
            "node": "Report",
            "type": "main"
          }
        ]
      ]
    },
    "PG WAL": {
      "main": [
        [
          {
            "index": 0,
            "node": "PG cache",
            "type": "main"
          }
        ]
      ]
    },
    "PG activity": {
      "main": [
        [
          {
            "index": 0,
            "node": "PG WAL",
            "type": "main"
          }
        ]
      ]
    },
    "PG cache": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge snippets",
            "type": "main"
          }
        ]
      ]
    },
    "PG connections": {
      "main": [
        [
          {
            "index": 0,
            "node": "PG activity",
            "type": "main"
          }
        ]
      ]
    },
    "Report": {
      "main": [
        [
          {
            "index": 0,
            "node": "Markdown to HTML",
            "type": "main"
          }
        ]
      ]
    },
    "Validate WAL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validate cache",
            "type": "main"
          }
        ]
      ]
    },
    "Validate cache": {
      "main": [
        [
          {
            "index": 0,
            "node": "Merge validations",
            "type": "main"
          }
        ]
      ]
    },
    "Validate cluster": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validate pgBackRest",
            "type": "main"
          }
        ]
      ]
    },
    "Validate connections": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validate WAL",
            "type": "main"
          }
        ]
      ]
    },
    "Validate pgBackRest": {
      "main": [
        [
          {
            "index": 0,
            "node": "Validate connections",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Cluster status",
            "type": "main"
          }
        ]
      ]
    },
    "pgBackRest info": {
      "main": [
        [
          {
            "index": 0,
            "node": "PG connections",
            "type": "main"
          }
        ]
      ]
    }
  },
  "name": "crunchy-triage",
  "nodes": [
    {
      "id": "note-prod-url",
      "name": "Production URL",
      "parameters": {
        "color": 4,
        "content": "## Crunchy triage — production URL\n\nClick to run this triage — read-only and idempotent, safe to fire any time:\n\n**https://n8n-f208ae-tools.apps.emerald.devops.gov.bc.ca/webhook/crunchy-triage?namespace=f208ae-dev**\n\nBuilt from cleaned snippets by the workflow-builder skill.",
        "height": 260,
        "width": 460
      },
      "position": [
        180,
        60
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "webhook",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "GET",
        "options": {},
        "path": "crunchy-triage",
        "responseMode": "responseNode"
      },
      "position": [
        260,
        360
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "crunchy-triage"
    },
    {
      "id": "snip-cluster",
      "name": "Cluster status",
      "notes": "Patroni cluster members + config (patronictl).",
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }} snippet-cluster-status.sh"
      },
      "position": [
        480,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "snip-pgbackrest",
      "name": "pgBackRest info",
      "notes": "pgBackRest backup + archive status.",
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }} snippet-pgbackrest-info.sh"
      },
      "position": [
        700,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "snip-connections",
      "name": "PG connections",
      "notes": "Connection counts vs max_connections.",
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }} SELECTOR=postgres-operator.crunchydata.com/role=master snippet-pg-connections.sh"
      },
      "position": [
        920,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "snip-activity",
      "name": "PG activity",
      "notes": "Long-running / non-idle queries.",
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }} SELECTOR=postgres-operator.crunchydata.com/role=master snippet-pg-activity.sh"
      },
      "position": [
        1140,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "snip-wal",
      "name": "PG WAL",
      "notes": "WAL position + archiver counters.",
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }} SELECTOR=postgres-operator.crunchydata.com/role=master snippet-pg-wal.sh"
      },
      "position": [
        1360,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "snip-cache",
      "name": "PG cache",
      "notes": "Buffer-cache hit ratio + memory settings.",
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }} SELECTOR=postgres-operator.crunchydata.com/role=master snippet-pg-cache.sh"
      },
      "position": [
        1580,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "merge-snippets",
      "name": "Merge snippets",
      "notes": "Flat-merge the snippet outputs into one JSON.",
      "parameters": {
        "command": [
          "=export MERGE_CLUSTER={{ $('Cluster status').item.json.stdout.base64Encode() }}",
          "export MERGE_PGBACKREST={{ $('pgBackRest info').item.json.stdout.base64Encode() }}",
          "export MERGE_CONNECTIONS={{ $('PG connections').item.json.stdout.base64Encode() }}",
          "export MERGE_ACTIVITY={{ $('PG activity').item.json.stdout.base64Encode() }}",
          "export MERGE_WAL={{ $('PG WAL').item.json.stdout.base64Encode() }}",
          "export MERGE_CACHE={{ $('PG cache').item.json.stdout.base64Encode() }}",
          "merge.sh --b64"
        ]
      },
      "position": [
        1800,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "val-cluster",
      "name": "Validate cluster",
      "notes": "Cluster health verdict (leader, replicas).",
      "parameters": {
        "command": "=echo {{ $('Merge snippets').item.json.stdout.base64Encode() }} | base64 -d | validator-cluster-status.sh"
      },
      "position": [
        2020,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "val-pgbackrest",
      "name": "Validate pgBackRest",
      "notes": "Backup freshness verdict.",
      "parameters": {
        "command": "=echo {{ $('Merge snippets').item.json.stdout.base64Encode() }} | base64 -d | validator-pgbackrest.sh"
      },
      "position": [
        2240,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "val-connections",
      "name": "Validate connections",
      "notes": "Connection-headroom verdict.",
      "parameters": {
        "command": "=echo {{ $('Merge snippets').item.json.stdout.base64Encode() }} | base64 -d | validator-pg-connections.sh"
      },
      "position": [
        2460,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "val-wal",
      "name": "Validate WAL",
      "notes": "WAL-archiving verdict.",
      "parameters": {
        "command": "=echo {{ $('Merge snippets').item.json.stdout.base64Encode() }} | base64 -d | validator-pg-wal.sh"
      },
      "position": [
        2680,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "val-cache",
      "name": "Validate cache",
      "notes": "Cache hit-ratio verdict.",
      "parameters": {
        "command": "=echo {{ $('Merge snippets').item.json.stdout.base64Encode() }} | base64 -d | validator-pg-cache.sh"
      },
      "position": [
        2900,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "merge-validations",
      "name": "Merge validations",
      "notes": "Key each verdict under its check into .validations.",
      "parameters": {
        "command": [
          "=export MERGE_CLUSTER={{ $('Validate cluster').item.json.stdout.base64Encode() }}",
          "export MERGE_PGBACKREST={{ $('Validate pgBackRest').item.json.stdout.base64Encode() }}",
          "export MERGE_CONNECTIONS={{ $('Validate connections').item.json.stdout.base64Encode() }}",
          "export MERGE_WAL={{ $('Validate WAL').item.json.stdout.base64Encode() }}",
          "export MERGE_CACHE={{ $('Validate cache').item.json.stdout.base64Encode() }}",
          "merge.sh -k --b64"
        ]
      },
      "position": [
        3120,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "report",
      "name": "Report",
      "notes": "Assemble merged + validations and render the chained report.",
      "parameters": {
        "command": [
          "=export DATA={{ $('Merge snippets').item.json.stdout.base64Encode() }}",
          "export VALS={{ $('Merge validations').item.json.stdout.base64Encode() }}",
          "export NAMESPACE={{ ($('Webhook').item.json.query || {}).namespace }}",
          "report.sh crunchy-triage snippet-triage-report.md snippet-pg-report.md"
        ]
      },
      "position": [
        3340,
        360
      ],
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1
    },
    {
      "id": "md2html",
      "name": "Markdown to HTML",
      "parameters": {
        "markdown": "={{ $json.stdout }}",
        "mode": "markdownToHtml",
        "options": {}
      },
      "position": [
        3560,
        360
      ],
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1
    },
    {
      "id": "respond",
      "name": "Respond to Webhook (HTML)",
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        },
        "respondWith": "text",
        "responseBody": "={{ $json.data }}"
      },
      "position": [
        3780,
        360
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1
    }
  ],
  "settings": {
    "executionOrder": "v1"
  }
}
