tools/n8n/skills/workflow-builder/assets/skeleton.json
{
  "name": "triage-skeleton",
  "nodes": [
    {
      "parameters": {
        "content": "## <TITLE> — production URL\n\nClick to run this triage — read-only and idempotent, safe to fire any time:\n\n**<BASE_URL>/webhook/<PATH>?<QUERY>**\n\nBuilt from cleaned snippets by the workflow-builder skill.",
        "height": 240,
        "width": 380,
        "color": 4
      },
      "id": "note-prod-url",
      "name": "Production URL",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [180, 60]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 320],
      "webhookId": "webhook"
    },
    {
      "parameters": {
        "command": "=NAMESPACE={{ ($('Webhook').item.json.query||{}).namespace }} <snippet>.sh"
      },
      "id": "step-1",
      "name": "Collect (read-only, idempotent)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 320],
      "notes": "READ-ONLY + IDEMPOTENT. One Execute-Command node per cleaned snippet-*; safe to re-run."
    },
    {
      "parameters": {
        "command": "=export MERGE_ONE={{ $('Collect (read-only, idempotent)').item.json.stdout.base64Encode() }}\nmerge.sh --b64"
      },
      "id": "merge-snippets",
      "name": "Merge snippets",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [720, 320],
      "notes": "Flat-merge the collection snippets — one `export MERGE_<KEY>=...` line per collect node. The join point (no Code node)."
    },
    {
      "parameters": {
        "command": "=export DATA={{ $('Merge snippets').item.json.stdout.base64Encode() }}\nexport NAMESPACE={{ ($('Webhook').item.json.query||{}).namespace }}\nreport.sh <group> <report>.md"
      },
      "id": "report",
      "name": "Report",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [960, 320],
      "notes": "report.sh assembles merged + {validations} and renders the report markdown. With validators, add a 'Merge validations' node (merge.sh -k --b64) and `export VALS={{ $('Merge validations')...base64Encode() }}` here."
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.stdout }}",
        "options": {}
      },
      "id": "md2html",
      "name": "Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [1200, 320]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "text/html" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond to Webhook (HTML)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1440, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Collect (read-only, idempotent)", "type": "main", "index": 0 }]]
    },
    "Collect (read-only, idempotent)": {
      "main": [[{ "node": "Merge snippets", "type": "main", "index": 0 }]]
    },
    "Merge snippets": {
      "main": [[{ "node": "Report", "type": "main", "index": 0 }]]
    },
    "Report": {
      "main": [[{ "node": "Markdown to HTML", "type": "main", "index": 0 }]]
    },
    "Markdown to HTML": {
      "main": [[{ "node": "Respond to Webhook (HTML)", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
